<!doctype html>
<html>
  <head>
    <title>Supercell</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
  </head>
  <body>
  <h1>Supercell</h1>
  <p>A Supercell is where some storms combine to form a superstorm/supercell
  which can cause tornados</p>
  <iframe name="website" height="600" width="50%" align="right"
  src="https://www.weather.gov/ama/supercell">
  </iframe>
  <iframe name="video" width="420" height="315" align="left"
  src="https://www.youtube.com/embed/VoO89cqDgJU">
  </iframe>
  <a href="http://localhost:5000/">Home</a>
  </body>
</html>
